<h2>LetterSource</h2>
<h3>Your source for letters</h3>
<p>LetterSource allows you to create, share, find, and fork letters and then get them
formatted and addressed for printing to your Legislatures.</p>
<p> <a href="<%=letters_path%>">View Letters</a> </p>
<p> <a href="<%=categories_path%>">View Categories</a> </p>
<p>
  <form method="GET" action="<%= letters_path %>">
    <label for="search-term">Search: </label>
    <input type="text" id="search-term" name="q" value="<%= @search_term %>">
    <input type="submit" value="Search">
  </form>
</p>
