<!DOCTYPE html>
<html>
  <head>
    <title>Lettersource</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  All letters available under the <a href="https://wiki.creativecommons.org/wiki/CC0">CC0</a> License.
  </footer>
</html>
